body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    width: 100vw;
    overflow-x: hidden;
    font-family: 'Inter', sans-serif;
    /* position: relative; */
}

#content {
    width: 60vw;
    margin: 1px 0px 30px 0px;
    width: fit-content;
}

header {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    margin: 60px 0px 40px 0px;
}

#content header ul {
    display: flex;
    /* position: fixed; */
}

#menuMobile {
    display: none;
}

#menuMobileClose {
    display: none;
}

input {
    display: none;
}


#content header ul li {
    margin: 0vw 2vw 0vw 0vw;
    list-style: none;
}

#content header ul li a {
    text-decoration: none;
    color: black;
}

#content header ul li:nth-child(5) {
    margin: 0vw 0vw 0vw 0vw;
}

main {
    display: grid;
    /* grid-template-columns: 298px 298px 298px; */
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 240px 200px 110px;
    grid-template-areas:
        'img img news'
        'title info news'
        'info_1 info_2 info_3';
    gap: 20px;
}

#imgDesktop {
    width: 660px;
    grid-area: img;
}

#imgMobile {
    display: none;
}

#title {
    grid-area: title;
    font-size: 45px;
    width: 300px;
    margin: 0px;
    line-height: 45px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
}

#info {
    grid-area: info;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

#info p {
    font-size: 14px;
    width: 100%;
    margin-bottom: 30px;
}

#info a {
    background-color: #f15d52;
    color: #fff;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 12px;
    width: 150px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#news {
    grid-area: news;
}

#info_1 {
    grid-area: info_1;
}

#info_2 {
    grid-area: info_2;
}

#info_3 {
    grid-area: info_3;
}

#news {
    background-color: #00001a;
    color: #fff;
}

#news h1 {
    margin-left: 18px;
    color: #e2a753;
}

#news h2 {
    margin-left: 18px;
    font-size: 15px;
}

#news p {
    margin-left: 18px;
    font-size: 13px;
    width: 250px;
    color: #b3b3b3;
}

#news hr {
    margin: 30px 0px 30px 18px;
    width: 250px;
    border-top: 1px solid rgb(83, 77, 105);
    border-bottom: 1px solid rgb(0, 0, 0);
    border-right: 1px solid rgb(0, 0, 0);
    border-left: 1px solid rgb(0, 0, 0);
}

#info_1,
#info_2,
#info_3 {
    display: flex;
}

#info_1 h2,
#info_2 h2,
#info_3 h2 {
    font-size: 14px;
    margin: 7px 0px 0px 0px;
}

#info_1 p,
#info_2 p,
#info_3 p {
    font-size: 13px;
    margin: 10px 0px 0px 0px;
    line-height: 20px;
    width: 196px;
    color: #686868;
}

#info_1 img,
#info_2 img,
#info_3 img {
    height: 110px;
    margin-right: 17px;
}

#info_1 span,
#info_2 span,
#info_3 span {
    font-weight: bold;
    font-size: 25px;
    color: #c0c0c0;
}

@media (max-width: 1050px) {

    body {
        position: relative;
        /* overflow-y: hidden; */
    }

    main {
        grid-template-columns: 300px;
        grid-template-rows: 240px 130px 140px 470px 110px 110px;
        grid-template-areas:
            'img'
            'title'
            'info'
            'news'
            'info_1'
            'info_2'
            'info_3';

        gap: 15px;
    }

    #logo {
        height: 50px;
    }

    #imgDesktop {
        width: 660px;
        grid-area: img;
        display: none;
    }

    #imgMobile {
        display: inline;
        width: 300px;
    }

    #title {
        width: 300px;
        font-size: 35px;
        line-height: 35px;
        align-items: flex-end;
    }

    #info p {
        font-size: 14px;
        width: 100%;
        margin-bottom: 30px;
    }

    #info p {
        margin: 0px 0px 20px 0px;
    }

    #info a {
        height: 40px;
        margin: 5px 0px 0px 0px;
    }

    #news {
        margin: 25px 0px;
        height: fit-content;
    }

    #content header ul {
        display: none;
        background-color: rgb(255, 255, 255);
        position: fixed;
        flex-direction: column;
        height: 100vh;
        top: -17px;
        right: 0px;
        z-index: 1;
        padding: 0px;
        width: 50vw;
    }

    header {
        margin: 30px 0px 18px 0px;
    }

    #menuMobile {
        display: inline;
    }

    #content header label {
        cursor: pointer;
    }

    #content header input:checked~label #menuMobileClose {
        display: inline;
    }

    #content header input:checked~label #menuMobile {
        display: none;
    }

    #content header input:checked~ul {
        display: inline;
    }

    #content header input:checked~#backgroundMenuOpen {
        position: fixed;
        background-color: #1b1a1aa8;
        width: 100vw;
        height: 100vh;
        top: 0px;
        right: 0px;
    }

    #content header input:checked~label {
        right: 0px;
        cursor: pointer;
        position: fixed;
        top: 35px;
        right: 25px;
        z-index: 2;
    }

    #content header ul li {
        margin: 20px 40px 0px 25px;
    }

    #content header ul li:nth-child(1) {
        margin: 120px 40px 0px 25px;
    }

    #content header ul li:nth-child(5) {
        margin: 20px 40px 0px 25px;
    }
}